{% extends 'layout.html' %}


{% block contenido2 %} 


    <div class="content-wrapper" style="background-image: url('../static/img/fondo4.png');">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">


                    <div id="contenedor" class="col-12" align="center">
                        <br>
                        <p id="txt2">SUSCRIBETE</p>

                        <img src="../static/img/logoCuadros.png" alt="C&C" height="200" width="200">
                        <br><br><br>
                        <h3 id="txt8">Sé el primero en recibir información de nuestras promociones</h3>
                        <br><br>

                        <div class="12">
                            <br>
                            <input id="emailconta" type="email" placeholder="correo@ejemplo.com" required aria-required="true" pattern="^.+@.+\.[a-zA-Z]{2,63}$" maxlength="700" aria-label="correo@ejemplo.com"
                            value aria-invalid="false">
                            <button type="button" class="btn btn-alert ">Enviar</button>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
        </div>
        <div id="contenedor4" align="center">
            <br>
            <h5 class="textos" id="txt4">Siguenos en nuestras redes sociales</h5>
            <br>
            <a class="botonContacto" href="https://www.facebook.com/Cuadrosymascuadros999"  target="_blank">
                <img src="../static/img/iconof.png" alt="Facebook">
                &nbsp &nbsp&nbsp &nbsp
            </a>

            <a  class="botonContacto" href="https://instagram.com/cuadros_y.mas_cuadros?igshid=YmMyMTA2M2Y="  target="_blank">
                <img src="../static/img/iconoi.png" alt="Instagram">
                &nbsp &nbsp&nbsp &nbsp
            </a>

            <a class="botonContacto" href="https://www.tiktok.com/@cuadros_y.mas_cuadros"  target="_blank">
                <img src="../static/img/iconot.png" alt="TikTok">
            </a>
            <br><br>
          
            <h5 class="textos" id="txt4">+57 3175275953
            
                <img src="../static/img/icontel.png" width="30" height="30" alt="Tel">
                
            </h5>

            <br>
            <h5 class="textos" id="txt4">cuadrosymascuadroscyc@hotmail.com
            
                <img src="../static/img/iconcor.png" width="30" height="30" alt="Tel">
                
            </h5>
        </div>
    </div>
  


{% endblock %}