{% extends 'layout.html' %}


{% block contenido2 %} 

<div class="content-wrapper" style="background-image: url('../static/img/fondo4.png');">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div id="contenedor" class="col-12" align="center">
          <div id="contenedor2" class="col-9" align="left">
            <div class="card border-info">
              <div class="card-body">
                <ul class="list-group list-group-light">
                  <li class="list-group-item">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <!-- seccion usuarios -->
                          <section class="content">
                            <div class="row">
                              <div class="col-md-12">

                                <div class="card2 card-primary">
                                  <div class="card-header">
                                    <h3 class="card-title">INFORMACION USUARIOS</h3>
                                  </div>
                                  <div class="container " style="background-color: #BFC4C4;">
                                    <!--......................................................-->
                                    <div class="container">

                                      <div class="card">
                                        <div class="card-body">
                                          <h5 class="card-title">Listado de usuarios</h5>
                                          <p class="card-text">

                                            <!-- TABLE -->
                                            <table class="table table-light table-hover">
                                              <thead class="thead-light">
                                                <tr>
                                                  <th>Nombre</th>
                                                  <th>e-mail</th>
                                                </tr>
                                              </thead>

                                              <tbody>
                                                {% for user in users %}
                                                <tr>
                                                  <td>{{ user[0] }}</td>
                                                  <td>{{ user[1] }}</td>
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>

                                            <nav aria-label="Page navigation example">
                                              <ul class="pagination justify-content-center">

                                                {% for pag in range(1,11) %}
                                                <li class="page-item">
                                                  <a class="page-link" href="/page/{{pag}}">{{ pag }}</a>
                                                </li>
                                                {% endfor %}

                                              </ul>
                                            </nav>

                                          </p>

                                        </div>
                                      </div>
                                    </div>
                                    <!--......................................................-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <!-- fin seccion usuarios -->
                          
                          <!-- seccion quejas -->
                          <section class="content">
                            <div class="row">
                              <div class="col-md-12">

                                <div class="card2 card-primary">
                                  <div class="card-header">
                                    <h3 class="card-title">INFORMACION PQRS</h3>
                                  </div>
                                  <div class="container " style="background-color: #BFC4C4;">
                                    <!--......................................................-->
                                    <div class="container">

                                      <div class="card">
                                        <div class="card-body">
                                          <h5 class="card-title">Listado de opiniones</h5>
                                          <p class="card-text">

                                            <!-- TABLE -->
                                            <table class="table table-light table-hover">
                                              <thead class="thead-light">
                                                <tr>
                                                  <th>ID</th>
                                                  <th>Nombre</th>
                                                  <th>Apellido</th>
                                                  <th>Correo</th>
                                                  <th>Sugerencia</th>
                                                </tr>
                                              </thead>

                                              <tbody>
                                                {% for queja in pqrs %}
                                                <tr>
                                                  <td>{{ queja[0] }}</td>
                                                  <td>{{ queja[1] }}</td>
                                                  <td>{{ queja[2] }}</td>
                                                  <td>{{ queja[3] }}</td>
                                                  <td>{{ queja[6] }}</td>
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>

                                            <nav aria-label="Page navigation example">
                                              <ul class="pagination justify-content-center">

                                                {% for pag in range(1,11) %}
                                                <li class="page-item">
                                                  <a class="page-link" href="/page/{{pag}}">{{ pag }}</a>
                                                </li>
                                                {% endfor %}

                                              </ul>
                                            </nav>

                                          </p>

                                        </div>
                                      </div>
                                    </div>
                                    <!--......................................................-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <!-- fin seccion quejas -->
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}